### NFS artifacts
.nfs*

### OS X artifacts
*.DS_Store
.AppleDouble
:2e_*
:2e#

### Python artifacts
*.pyc

### Unknown artifacts
build
\#*\#
.env/
autodeploy.properties
.ws_migrations_complete

*.log

*.sublime-project

*.sublime-workspace

*.pickle

*.doctree